table {
    &.empty tfoot{
        display: table-footer-group;
    }
    tfoot{
        display: none;
    }
    tbody tr.selected{
        background-color: rgb(233, 187, 187);
        border-radius: 5px;
    }
    td:first-child,
    th:first-child,
    td:last-child {
        text-align: center;
    }
    
    td, th{
        vertical-align: middle;
    }

    td:last-child {
        font-size: 2px;
        
        i:hover{
            color: rgb(219, 10, 10);
        }
    }

    tbody tr{
        cursor: pointer;
    }
}

.col-id {
    text-align: center !important;
    width: 150px;
}

.col-contact{
    width: 150px;
}

.col-remove{
    width: 70px;
}

@media all and (min-width: 1200px){
    #wrapper{
        border-left: 1px solid lightgray;
        max-height: calc(100vh - 8rem);
        overflow: hidden auto;
    }

    table thead{
        background-color: white;
        position: sticky;
        top: 0;
    }
}